<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="twitter:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
  <meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image:src" content="{{ site.title_image | prepend: site.url }}">
  <meta property="og:image" content="{{ site.title_image | prepend: site.url }}">

  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16.png' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32.png' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | prepend: site.baseurl }}">
  <link href="{{ '/assets/style/main.css' | prepend: site.baseurl }}" rel="stylesheet">
</head>
