{% assign news_posts = site.categories.news %}
{% for post in news_posts limit: include.limit %}
  <article class="news-entry">
    <p class="news-entry__date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <h2 class="news-entry__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    {% if post.summary %}
      <p class="news-entry__summary">{{ post.summary }}</p>
    {% elsif post.excerpt %}
      <p class="news-entry__summary">{{ post.excerpt | strip_html | strip_newlines }}</p>
    {% endif %}
    <p class="news-entry__link"><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></p>
  </article>
{% endfor %}
